{
    "parser": "babel-eslint",
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": ["plugin:react/recommended", "eslint:recommended"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "no-console": "error"
    }
}
